<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= current_page.data.title || "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Å Ä Ö | Digital Text" %></title>
  
  <meta property="og:title" content="Hem - A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Å Ä Ö">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
<!--  <meta property="og:image" content="\">-->
  <meta property="og:locale" content="sv_SE">
  <meta property="og:site_name" content="A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Å Ä Ö">
  <meta property="og:type" content="article">


  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Hem">
  <meta name="twitter:description" content="">
<!--  <meta name="twitter:image" content="\">-->
<!--  <meta name="twitter:site" content="@twitter">-->
<!--  <meta name="twitter:creator" content="@twitter">-->

  <%= javascript_include_tag "modernizr" %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
