---
title: A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Å Ä Ö | Digital Text
---
<header class="title" role="contentinfo">
  <div class="container">
    <h1>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Å Ä Ö</h1>
  </div>
</header>

<section class="offer">
  <div class="container">
    <p>
      Abcdefghijklmnopqrstuvwxyzåäö är experter på digitala texter. Vi gör allt från IA, UX-copy, navigation, microcopy och felmeddelanden till content och produktbeskrivningar.
    </p>
  </div>
</section>

<section class="team">
  <div class="container">
    <h2>Kontakt</h2>
    <div class="team__profiles team-profiles-wrapper">
      <ul class="team-profiles-slider">
        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Anna Lindstein</h3>
            <span class="profile__title">Digital Strateg</span>
            <%= link_to '073 687 02 00', 'tel:0736870200', class: "profile__tel" %>
            <%= link_to 'anna@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:anna@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>

        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Martin Lind</h3>
            <span class="profile__title">Digital Strateg</span>
            <%= link_to '070 779 12 59', 'tel:0707791259', class: "profile__tel" %>
            <%= link_to 'martin@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:martin@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>

        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Jonas Asp</h3>
            <span class="profile__title">Språkkonsult</span>
            <%= link_to '073 363 24 04', 'tel:0733632404', class: "profile__tel" %>
            <%= link_to 'jonas@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:jonas@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>
        
        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Jenny Wikstrand</h3>
            <span class="profile__title">Research</span>
            -
            <%= link_to 'jenny@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:jenny@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>
                <li class="profile">
          <div class="profile__image">
          
          </div>
          <div class="profile__info">
            <h3 class="profile__name">James Randolph</h3>
            <span class="profile__title">SEO-redaktör + Skribent (engelska)</span>
            Fullbokad
            <%= link_to 'james@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:james@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>

        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Karin Nilsson</h3>
            <span class="profile__title">Redaktör (svenska och engelska)</span>
            <%= link_to '072 166 67 97', 'tel:072 166 67 97', class: "profile__tel" %>
            <%= link_to 'karin@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:karin@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>
      
        <li class="profile">
          <div class="profile__image">
        </div>
          <div class="profile__info">
            <h3 class="profile__name">Emil Nilsson</h3>
            <span class="profile__title">Skribent + Översättning från japanska</span>
            Fullbokad
            <%= link_to 'emil@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:emil@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>

        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Kalle Persson</h3>
            <span class="profile__title">Språkkonsult</span>
            Fullbokad
            <%= link_to 'kalle@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:kalle@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>
        
               <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Peter Quick</h3>
            <span class="profile__title">Webbredaktör</span>
            Fullbokad
            <%= link_to 'peter@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:peter@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>
        
        
      </ul>
      <ul class="team_pages"></ul>
    </div>
  </div>
</section>

<section class="more_offers">
  <div class="container">
    <h2>DIGITALA TEXTER</h2>
    <div class="row">
      <div class="offer_info">
        <h3 class="offer__title">Ökad konvertering</h3>
        <p>
          Text är kritiskt för god konvertering. Det gäller både för löptext och interaktiva texter, rubriker och knappar. Vi arbetar nära analytiker för att hitta strukturen, orden och uttrycken som fungerar bäst.
        </p>
      </div>
      <div class="offer_info">
        <h3 class="offer__title">Digital tonalitet</h3>
        <p>
          Konsekvent tonalitet ökar trovärdigheten för er som avsändare. Den digitala dimensionen tar dessutom hänsyn till SEO, konvertering och interaktiv standard. Vi redigerar existerande texter eller skriver helt nya.
        </p>
      </div>
      <div class="offer_info">
      <h3 class="offer__title">SEO-taktik</h3>
      <p>
        God sökmotoroptimering grundar sig lika delar god design, teknik och text. Vi skriver både UX-copy och content som matchar viktiga söktermer.
      </p>
    </div>
    </div>
    <div class="row">
      <div class="offer_info">
        <h3 class="offer__title">UX-copy</h3>
        <p>
          Ta hänsyn till texten från start! Vi går hand i hand med service design och UX-design hela vägen från utredning, test och analys till konceptutveckling, produktion och kvalitetssäkring.
        </p>
      </div>
      <div class="offer_info">
            <h3 class="offer__title">Text för prototyp & wireframe</h3>
        <p>
          Vill du testa prototyper och wireframe med färdiga texter? Vi skapar text för alla stadier i projektet!
        </p>
      </div>
      <div class="offer_info">
      <h3 class="offer__title">Textinventering</h3>
      <p>
        Rörigt? Vi skapar ordning, och ser till att tonalitet och fakta är konsekvent och korrekt i alla texter. Vi kan ansvara för hela webbplatser eller isolerade delar som t ex “Frågor & Svar” eller felmeddelanden.
      </p>
    </div>
    </div>
    
    <div class="row">
      <div class="offer_info">
        <h3 class="offer__title">Löpande publicering</h3>
        <p>
          Mycket att publicera? Vi stöttar er webbredaktion med redaktörer, översättare och skribenter.
        </p>
      </div>
      <div class="offer_info">
        <h3 class="offer__title">Tydliga textprocesser</h3>
        <p>
          Ett företags språk engagerar alla från PR till marknad, från UX till IT, från HR till Legal, från CRM till kundtjänst. Vi analyserar behov och bygger processer som passar just er organisation.
        </p>
      </div>
      <div class="offer_info">
      <h3 class="offer__title">Interaktiva texter & microcopy</h3>
      <p>
        Vem skriver era felmeddelanden, varningar, konfirmationer, formulär, knappar, placeholders och disclaimers? Vi skapar användarvänliga, konverterande och varumärkesbyggande texter ner på detaljnivå.
      </p>
    </div>
    </div>
    
    <div class="row">
      <div class="offer_info">
        <h3 class="offer__title">Digitala namn</h3>
        <p>
         Vi hjälper dig namnge företag, tjänster, produkter, initiativ eller interaktiva funktioner. Förutom varumärke, branschstandard och användarförståelse tar vi hänsyn till sökmotoroptimering och interaktivitet när vi arbetar med digitala namn.
        </p>
      </div>
      <div class="offer_info">
      <h3 class="offer__title">Contentstrategi</h3>
      <p>
        För vem, hur, när och i vilka media? Vi hjälper gärna till med kommunikativa strategier för content av alla slag.
      </p>
    </div>

         <div class="offer_info">
      <h3 class="offer__title">Tillgänglighet</h3>
      <p>
        Myndighet, kommun och andra offentliga organ har stora krav på tillgänglighet. Vi skriver gärna lättlästa texter enligt WCAG och Myndigheternas skrivregler.
      </p>
    </div>
    </div>
  </div>
</section>

<section class="clients">
  <div class="container">
    <h2>Våra Kunder</h2>
    <div class="client__profiles client-profiles-wrapper">
      <div class="client-profiles-slider">
        <div class="client">
          <%= image_tag "client_logo_1.png", alt: 'Svenska Turistföreningen' %>
        </div>

        <div class="client">
          <%= image_tag "client_logo_2.png", alt: 'Comviq' %>
        </div>

        <div class="client">
          <%= image_tag "client_logo_3.png", alt: 'Tele2' %>
        </div>

        <div class="client">
          <%= image_tag "client_logo_4.png", alt: 'Under' %>
        </div>

        <div class="client">
          <%= image_tag "icq.png", alt: 'IC Quality' %>
        </div>

        <div class="client">
          <%= image_tag "Svenska_Moten_118.png", alt: 'Svenska Möten' %>
        </div>
      </div>
      
      <ul class="client_pages"></ul>
    </div>
  </div>
</section>

<footer>
  <%= link_to 'info@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:info@abcdefghijklmnopqrstuvwxyzaao.com' %>
</footer>
