---
title: A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Å Ä Ö | Digital Text
---
<header class="title" role="contentinfo">
  <div class="container">
    <h1>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z Å Ä Ö</h1>
  </div>
</header>

<section class="offer">
  <div class="container">
    <p>
      Abcdefghijklmnopqrstuvwxyzåäö är experter på digitala texter. Vi gör allt från IA, UX-copy, navigation, funktionstexter och felmeddelanden - till content och produkttexter. <br>Välkommen att kontakta oss!
    </p>
  </div>
</section>

<section class="team">
  <div class="container">
    <h2>Kontakt</h2>
    <div class="team__profiles team-profiles-wrapper">
      <ul class="team-profiles-slider">
        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Anna Lindstein</h3>
            <span class="profile__title">Digital Strateg</span>
            <%= link_to '073 687 02 00', 'tel:0736870200', class: "profile__tel" %>
            <%= link_to 'anna@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:anna@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>

        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Martin Lind</h3>
            <span class="profile__title">Digital Strateg</span>
            <%= link_to '070 779 12 59', 'tel:0707791259', class: "profile__tel" %>
            <%= link_to 'martin@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:martin@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>

        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Jonas Asp</h3>
            <span class="profile__title">Språkkonsult</span>
            <%= link_to '073 363 24 04', 'tel:0733632404', class: "profile__tel" %>
            <%= link_to 'jonas@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:jonas@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>
        
        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">James Randolph</h3>
            <span class="profile__title">SEO-redaktör + Skribent (engelska)</span>
            <%= link_to '072 166 67 97', 'tel:072 166 67 97', class: "profile__tel" %>
            <%= link_to 'karin@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:karin@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>

        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Karin Nilsson</h3>
            <span class="profile__title">Redaktör (svenska och engelska)</span>
            <%= link_to '072 166 67 97', 'tel:072 166 67 97', class: "profile__tel" %>
            <%= link_to 'karin@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:karin@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>
      
        <li class="profile">
          <div class="profile__image">
        </div>
          <div class="profile__info">
            <h3 class="profile__name">Emil Nilsson</h3>
            <span class="profile__title">Skribent & Översättning från japanska</span>
            På uppdrag!
            <%= link_to 'emil@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:emil@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>

        <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Kalle Persson</h3>
            <span class="profile__title">Språkkonsult</span>
            På uppdrag!
            <%= link_to 'kalle@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:kalle@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>
        
               <li class="profile">
          <div class="profile__image">

          </div>
          <div class="profile__info">
            <h3 class="profile__name">Peter Quick</h3>
            <span class="profile__title">Språkkonsult</span>
            På uppdrag!
            <%= link_to 'peter@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:peter@abcdefghijklmnopqrstuvwxyzaao.com', class: "profile__email" %>
          </div>
        </li>
        
        
      </ul>
      <ul class="team_pages"></ul>
    </div>
  </div>
</section>

<section class="more_offers">
  <div class="container">
    <h2>Mer Om Oss!</h2>
    <div class="row">
      <div class="offer_info">
        <h3 class="offer__title">Optimal konvertering</h3>
        <p>
          Text är en av de viktigaste nycklarna för god konvertering. Vi arbetar nära analytiker för att hitta bäst ord och textavvägningar genom hela kundresan.
        </p>
      </div>
      <div class="offer_info">
        <h3 class="offer__title">Rätt tonalitet</h3>
        <p>
          Tonalitet är hur ni talar, skriver och låter som varumärke. Rätt skapad tonalitet ökar både trovärdigheten för er som avsändare och mottagligheten hos er målgrupp. Vi kan redigera existerande texter, skapa nya texter eller utbilda alla interna skribenter att skriva samstämmigt.
        </p>
      </div>
      <div class="offer_info">
      <h3 class="offer__title">SEO-anpassning</h3>
      <p>
        God sökmotoroptimering grundar sig lika delar god design, teknik och text och kräver löpande analys, test och uppföljning. Vi arbetar nära analytikern för att hitta rätt formuleringar och nära webbdesignern för rätt textformat.
      </p>
    </div>
    </div>
    <div class="row">
      <div class="offer_info">
        <h3 class="offer__title">Bra UX-copy</h3>
        <p>
          Ta hänsyn till texten från start! Vi går hand i hand med service design och UX-design hela vägen från utredning, test och analys till konceptutveckling, produktion och korrigering. Vårt arbete berör allt från naming, innehållsarkitektur ur ett textuellt perspektiv, navigation, knappar, interaktionstexter, felmeddelanden, placeholders och konfirmationer.
        </p>
      </div>
      <div class="offer_info">
        <h3 class="offer__title">Digitala namn</h3>
        <p>
          Ett bra namn är lätt att förstå och särskilja från andra alternativ. Ett bra digitalt namn är dessutom lämpat för sökmotorer, passar för URL och förbereder användaren för god konvertering redan vid introduktion. Vi innoverar, testar, utvecklar, paketerar och analyserar digitalt gångbara namn till företag, initiativ, produkter och tjänster.
        </p>
      </div>
      <div class="offer_info">
      <h3 class="offer__title">Textinventering</h3>
      <p>
        Rörigt? Vi undersöker att tonalitet och fakta är konsekvent och korrekt i alla texter. Vi kan inventera hela webbplatser eller isolerade delar som t ex “Frågor & Svar”. Vi kan också inventera t ex navigation, interaktionstexter och felmeddelanden.
      </p>
    </div>
    </div>
    <div class="row">
      <div class="offer_info">
        <h3 class="offer__title">Löpande publicering</h3>
        <p>
          Mycket att publicera? Vi stöttar din webbredaktion med tillfälliga eller permanenta resurser. Vi har redaktörer och skribenter för både engelska och svenska, som snabbt kan sätta sig in i ert CMS.
        </p>
      </div>
      <div class="offer_info">
        <h3 class="offer__title">Tydliga textprocesser</h3>
        <p>
          Ett företags content, texter och texthantering, tonalitet och språk engagerar alla från PR till marknad, från UX till IT, från HR till Legal, från CRM till kundtjänst. Vi analyserar behov och bygger processer som passar just din organisation.
        </p>
      </div>
      <div class="offer_info">
      <h3 class="offer__title">Interaktiva texter & microcopy</h3>
      <p>
        All text är viktig för varumärke, konvertering och förståelse hos användaren. Inte minst felmeddelanden, varningar, konfirmationer, formulär, knappar, placeholders, disclaimers och villkorstexter!
      </p>
    </div>
    </div>
    <div class="row">
      <div class="offer_info">
        <h3 class="offer__title">Text för prototyp och wireframe</h3>
        <p>
          Ibland är rätt text och innehåll kritiskt för att gå vidare från prototyp till design- och utvecklingsfas. Ibland behövs texten ännu tidigare, ibland senare. Vi kan text för alla stadier.
        </p>
      </div>
      <div class="offer_info">
      <h3 class="offer__title">Contentstrategi</h3>
      <p>
        För vem, hur, när och i vilka media? Vi hjälper er att sätta både arbetsprocesser och långsiktiga strategier för content som är relevant för era kunder samtidigt som det hjälper er affär.
      </p>
    </div>
    </div>
  </div>
</section>

<section class="clients">
  <div class="container">
    <h2>Våra Kunder</h2>
    <div class="client__profiles client-profiles-wrapper">
      <div class="client-profiles-slider">
        <div class="client">
          <%= image_tag "client_logo_1.png", alt: 'Svenska Turistföreningen' %>
        </div>

        <div class="client">
          <%= image_tag "client_logo_2.png", alt: 'Comviq' %>
        </div>

        <div class="client">
          <%= image_tag "client_logo_3.png", alt: 'Tele2' %>
        </div>

        <div class="client">
          <%= image_tag "client_logo_4.png", alt: 'Under' %>
        </div>

      <ul class="client_pages"></ul>
    </div>
  </div>
</section>

<footer>
  <%= link_to 'info@abcdefghijklmnopqrstuvwxyzaao.com', 'mailto:info@abcdefghijklmnopqrstuvwxyzaao.com' %>
</footer>
